In [1]:
import re

In [2]:
para = "What is you name ?\n My name is jafar.\n What is you age?\n My age is 24.\n"

In [3]:
print(re.findall("[a-zA-Z].*[?]",para))

['What is you name ?', 'What is you age?']

In [4]:
news = "we are facing new problems like global warming. \nThere also chances of nuclear war. \nThe porest countr are suffering from food crisess to"

In [5]:
type(news)

str

In [6]:
re.findall("\s\w{3}[\.|\s]",news)

[' are ', ' new ', ' war.', '\nThe ', ' are ']

In [39]:
re.findall("[a-zA-Z]{4,}",news)

['facing',
 'problems',
 'like',
 'global',
 'warming',
 'There',
 'also',
 'chances',
 'nuclear',
 'porest',
 'countr',
 'suffering',
 'from',
 'food',
 'crisess']

In [38]:
num = "hi my name is rahul my  num is 134-3434. my name iks gaurav my no is 2478595987, my num is 348457567"

In [9]:
type(num)

str

In [10]:
re.findall("\d+......\d",num)

['134-3434', '2478595987', '348457567']

In [11]:
string = "My website is https://www.example.com, you can also check out http://example2.com, or https://www.example3.net"

In [12]:
type(string)

str

In [13]:
re.findall("[/][\w.com|.net]+",string)

['/www.example.com', '/example2.com', '/www.example3.net']

In [14]:
def add(num):
    return num+10

In [15]:
add(10)

20

In [21]:
a=lambda num : num * 10

In [22]:
a(10)

100

In [23]:
def minimum(a,b):
    if a<b: 
        return a
    else:
        return b

In [24]:
minimum(10,20)

10

In [29]:
c=lambda a,b : a if a<b else b

In [30]:
c(10,20)

10

In [31]:
def minimum(a,b):
  if a < b:
    if b> a:
      return b
    else:
      return a

In [33]:
c=lambda a,b : a if a < b else b if b > a else a

In [34]:
name = "my name is gaurav"

In [35]:
print(name)

my name is gaurav