# dictonary

create a dictonary 
studebt name and their subjects 5 
their marks out of 100

In [3]:
classroom_report = {"gaurav":{"sci":88,"math":66,"hist":78,"bio":99,"agri":75,"extra":99},"ram":{"sci":55,"math":66,"hist":88,"bio":45,"agri":98},"sai":{"sci":83,"math":66,"hist":78,"bio":99,"agri":75}}

In [4]:
print(classroom_report)

{'gaurav': {'sci': 88, 'math': 66, 'hist': 78, 'bio': 99, 'agri': 75, 'extra': 99}, 'ram': {'sci': 55, 'math': 66, 'hist': 88, 'bio': 45, 'agri': 98}, 'sai': {'sci': 83, 'math': 66, 'hist': 78, 'bio': 99, 'agri': 75}}

In [5]:
len(classroom_report)

3

In [6]:
#average of marks

In [8]:
for K,V in classroom_report.items():
    r_list=list(V.values())
    #print(sum(r_list)/len(r_list))
    s=[sum(r_list)/len(r_list)]
    print(s)

[84.16666666666667]
[70.4]
[80.2]

In [ ]:
#even subject

In [80]:
for K,V in classroom_report.items():
    if len(V)%2!=0:
        print(K)
    else:
        print(K,"is contain uneven subject")

gaurav is contain uneven subject
ram
sai

In [84]:
for K,V in classroom_report.items():
    if len(V)<6:
        print(K)
    else:
        print(K,V,"have more than 5 subject")

gaurav {'sci': 88, 'math': 66, 'hist': 78, 'bio': 99, 'agri': 75, 'extra': 99} have more than 5 subject
ram
sai

In [ ]:
#input

In [90]:
dict_8 = {str(input()):int(input())}
print(dict_8.keys())

gaurav
6565695956
dict_keys(['gaurav'])

In [ ]:
#using = https://jsonformatter.curiousconcept.com/#

In [86]:
classroom_report ={
   "gaurav":{
      "sci":88,
      "math":66,
      "hist":78,
      "bio":99,
      "agri":75
   },
   "ram":{
      "sci":55,
      "math":66,
      "hist":88,
      "bio":45,
      "agri":98
   },
   "sai":{
      "sci":83,
      "math":66,
      "hist":78,
      "bio":99,
      "agri":75
   }
}

In [87]:
classroom_report

{'gaurav': {'sci': 88, 'math': 66, 'hist': 78, 'bio': 99, 'agri': 75},
 'ram': {'sci': 55, 'math': 66, 'hist': 88, 'bio': 45, 'agri': 98},
 'sai': {'sci': 83, 'math': 66, 'hist': 78, 'bio': 99, 'agri': 75}}

# Find out average marks for each student in each batch for every subject and create a dictionary
 
 {"batch_name":{
 "subject_1":{"student_name":average,----------},
 "subject_2":"{"student_name":average}
 }}

In [66]:
edyoda_dict = {
 "DS_17":{
     "Python":{
         "Aarushi":[98,78,65,86,45],
         "Raj":[76,23,64,74,75],
         "Satwik":[98,34,64,78,43],
         "Danushri":[98,23,64,24,75]
     },
    "ML":{
         "Aarushi":[18,28,75,36,85],
         "Raj":[34,73,44,64,35],
         "Satwik":[18,94,14,38,33],
         "Danushri":[88,33,54,64,65]
     }
 },
    "DS_18":{#
     "Python":{
         "Sachin":[58,38,85,36,45],
         "Saurav":[56,26,66,34,75],
         "Rahul":[68,24,24,28,33],
         "Dhoni":[38,53,64,24,25]
     },
    "ML":{
         "Sachin":[18,28,75,36,25],
         "Saurav":[34,33,64,34,35],
         "Rahul":[88,94,14,38,33],
         "Dhoni":[8,23,54,14,25]
     }
 }   
}

In [98]:
dict1={}
for A,S in edyoda_dict.items():
    Dict2={}
    for D,F in S.items(): 
        dict3={}
        for G,H in F.items():
            dict3[G]=sum(H)/len(H)
        Dict2[D]=dict3
        dict1[A]=Dict2

In [99]:
print(dict1)

{'DS_17': {'Python': {'Aarushi': 74.4, 'Raj': 62.4, 'Satwik': 63.4, 'Danushri': 56.8}, 'ML': {'Aarushi': 48.4, 'Raj': 50.0, 'Satwik': 39.4, 'Danushri': 60.8}}, 'DS_18': {'Python': {'Sachin': 52.4, 'Saurav': 51.4, 'Rahul': 35.4, 'Dhoni': 40.8}, 'ML': {'Sachin': 36.4, 'Saurav': 40.0, 'Rahul': 53.4, 'Dhoni': 24.8}}}

In [ ]:
edyoda_dict = {
 "DS_17":{
     "Python":{
         "Aarushi":[88,78,65,86,45],
         "Raj":[76,23,64,74,75],
         "Satwik":[98,34,64,44,43],
         "Danushri":[98,23,64,55,75]
     },
    "ML":{
         "Aarushi":[18,28,75,36,98],
         "Raj":[34,73,44,64,3],
         "Satwik":[18,94,14,38,33],
         "Danushri":[88,33,54,64,65]
     }
 },
    "DS_18":{#
     "Python":{
         "Sachin":[58,38,85,36,45],
         "Saurav":[56,26,66,34,75],
         "Rahul":[68,24,24,28,33],
         "Dhoni":[38,53,64,24,25]
     },
    "ML":{
         "Sachin":[18,28,75,36,25],
         "Saurav":[34,33,64,34,35],
         "Rahul":[88,94,14,38,33],
         "Dhoni":[8,23,54,14,25]
     }
 }   
}

# Exercise: Create a nested dictionary that represents a collection of books and their authors.
# Each book has a title and a ISBN number, and they have multiple authors.
# Each author has a name and a birthdate.

books = {
    '978-1484250273': {
        'title': 'Python Crash Course',
        'authors': {
            'Eric Matthes': {
                'birthdate': '1984-06-15'
            },
            'Paul Gries': {
                'birthdate': '1962-09-17'
            }
        }
    },
    '978-1492056381': {
        'title': 'Python Tricks',
        'authors': {
            'Dan Bader': {
                'birthdate': '1989-03-14'
            }
        }
    }
}

# Test
print(books['978-1484250273']['title'])  # Output: Python Crash Course
print(books['978-1484250273']['authors']['Eric Matthes']['birthdate'])  # Output: 1984-06-15

In [1]:
books = { '978-1484250273': { 'title': 'Python Crash Course', 'authors': { 'Eric Matthes': { 'birthdate': '1984-06-15' }, 'Paul Gries': { 'birthdate': '1962-09-17' } } }, '978-1492056381': { 'title': 'Python Tricks', 'authors': { 'Dan Bader': { 'birthdate': '1989-03-14' } } } }

In [3]:
books

{'978-1484250273': {'title': 'Python Crash Course',
  'authors': {'Eric Matthes': {'birthdate': '1984-06-15'},
   'Paul Gries': {'birthdate': '1962-09-17'}}},
 '978-1492056381': {'title': 'Python Tricks',
  'authors': {'Dan Bader': {'birthdate': '1989-03-14'}}}}

In [4]:
books['978-1492056381']['title']

'Python Tricks'

In [9]:
books["978-1492056381"]['authors']['Dan Bader'].values()

dict_values(['1989-03-14'])

In [21]:
books

{'978-1484250273': {'title': 'Python Crash Course',
  'authors': {'Eric Matthes': {'birthdate': '1984-06-15'},
   'Paul Gries': {'birthdate': '1962-09-17'}}},
 '978-1492056381': {'title': 'Python Tricks', 'authors': {'Dan Bader': 2023}}}

In [23]:
books.update({"gaurav":{"ram":{"pay":2000}}})

In [24]:
books

{'978-1484250273': {'title': 'Python Crash Course',
  'authors': {'Eric Matthes': {'birthdate': '1984-06-15'},
   'Paul Gries': {'birthdate': '1962-09-17'}}},
 '978-1492056381': {'title': 'Python Tricks', 'authors': {'Dan Bader': 2023}},
 'gaurav': {'ram': {'pay': 2000}}}

In [25]:
books.pop('gaurav')

{'ram': {'pay': 2000}}

In [26]:
books

{'978-1484250273': {'title': 'Python Crash Course',
  'authors': {'Eric Matthes': {'birthdate': '1984-06-15'},
   'Paul Gries': {'birthdate': '1962-09-17'}}},
 '978-1492056381': {'title': 'Python Tricks', 'authors': {'Dan Bader': 2023}}}

In [28]:
books['978-1492056381'].pop('authors')

{'Dan Bader': 2023}

In [30]:
books.values()

dict_values([{'title': 'Python Crash Course', 'authors': {'Eric Matthes': {'birthdate': '1984-06-15'}, 'Paul Gries': {'birthdate': '1962-09-17'}}}, {'title': 'Python Tricks'}])

In [36]:
books['978-1492056381'].update({'authors': {'Dan Bader': 2023}})

In [37]:
books

{'978-1484250273': {'title': 'Python Crash Course',
  'authors': {'Eric Matthes': {'birthdate': '1984-06-15'},
   'Paul Gries': {'birthdate': '1962-09-17'}}},
 '978-1492056381': {'title': 'Python Tricks', 'authors': {'Dan Bader': 2023}}}

math_scores = {
    'student1': {
        'math': 85,
        'science': 90
    },
    'student2': {
        'math': 75,
        'science': 80
    },
    'student3': {
        'math': 65,
        'science': 70
    }
}

#Calculate the average math score
total_math_score = 0
for student in math_scores:
    total_math_score += math_scores[student]['math']
average_math_score = total_math_score / len(math_scores)
print(f'The average math score is: {average_math_score}')

# Find the student with the highest math score
highest_math_score = 0
highest_math_student = ""
for student in math_scores:
    if math_scores[student]['math'] > highest_math_score:
        highest_math_score = math_scores[student]['math']
        highest_math_student = student
print(f'The student with the highest math score is: {highest_math_student} with a score of {highest_math_score}')

# Find the student with the lowest math score
lowest_math_score = 100
lowest_math_student = ""
for student in math_scores:
    if math_scores[student]['math'] < lowest_math_score:
        lowest_math_score = math_scores[student]['math']
        lowest_math_student = student
print(f'The student with the lowest math score is: {lowest_math_student} with a score of {lowest_math_score}')

In [16]:
math_scores = {
    'student1': {
        'math': 85,
        'science': 90
    },
    'student2': {
        'math': 75,
        'science': 80
    },
    'student3': {
        'math': 65,
        'science': 70
    }
}

In [151]:
highest_math_score = 0
highest_math_student = "" 
for value in math_scores:
    if math_scores[value]['math'] > highest_math_score:
        highest_math_score = math_scores[value]['math']
        highest_math_student = value 
        print(f'The student with the highest math score is: {highest_math_student} with a score of {highest_math_score}')

The student with the highest math score is: student1 with a score of 85

In [155]:
highest_scince_score=0
higest_scince_student=""
for student in math_scores:
    if math_scores[student]['science']>highest_scince_score:
        highest_scince_score=math_scores[student]['science']
        higest_scince_student=student
        print(f'The student with the highest math score is: {higest_scince_student} with a score of {highest_scince_score}')
        print("student with highest score in scince is = {0} and score is {1}".format(higest_scince_student,highest_scince_score))

The student with the highest math score is: student1 with a score of 90
student with highest score in scince is = student1 and score is 90

In [159]:
lowest_scince_score=100
lowest_scince_student=""
for student in math_scores:
    if math_scores[student]['science']<lowest_scince_score:
        lowest_scince_score=math_scores[student]['science']
        lowest_scince_student=student
        print(f'The student with the lowest math score is: {lowest_scince_student} with a score of {lowest_scince_score}')
        print("student with lowest score in scince is = {0} and score is {1}".format(lowest_scince_student,lowest_scince_score))

The student with the lowest math score is: student1 with a score of 90
student with lowest score in scince is = student1 and score is 90
The student with the lowest math score is: student2 with a score of 80
student with lowest score in scince is = student2 and score is 80
The student with the lowest math score is: student3 with a score of 70
student with lowest score in scince is = student3 and score is 70

In [169]:
lowest_math_score =100
lowest_math_student = ""
for student in math_scores:
    if math_scores[student]['math']<lowest_math_score:
        lowest_math_score = math_scores[student]['math']
        lowest_math_student = student
        print(f'The student with the lowest math score is: {lowest_math_student} with a score of {lowest_math_score}')

The student with the lowest math score is: student1 with a score of 85
The student with the lowest math score is: student2 with a score of 75
The student with the lowest math score is: student3 with a score of 65

In [168]:
T=0
for k,v in math_scores.items():
    T+=v["math"]
average=T/len(math_scores)
print("Average Maths Score ==",average)

Average Maths Score == 75.0

NameError: name 'math_score' is not defined

In [151]:
total_math_score = 0
for student in math_scores:
    total_math_score+=math_scores[student]['math']
average_maths_score=total_math_score/len(math_scores)