In [7]:
a=int(input("add first number = "))
b=int(input("add second number = "))
print("summation {0} + {1} = {2}".format(a,b,a+b))
print("Dividde {0} / {1} = {2}".format(a,b,a//b))
print("multipicatiion {0} * {1} ={2}".format(a,b,a*b))

add first number = 8
add second number = 4
summation 8 + 4 = 12
Dividde 8 / 4 = 2
multipicatiion 8 * 4 =32

In [18]:
for f in range(1,15):
    if f%2==0 and f<10:
        print("even small than 10",f)
    if f%3==0 and f<10:
        print("dividable of 3",f)
    else:
        print("its the odd",f)

its the odd 1
even small than 10 2
its the odd 2
dividable of 3 3
even small than 10 4
its the odd 4
its the odd 5
even small than 10 6
dividable of 3 6
its the odd 7
even small than 10 8
its the odd 8
dividable of 3 9
its the odd 10
its the odd 11
its the odd 12
its the odd 13
its the odd 14

In [3]:
for m in range(10,20):
    print(m)

10
11
12
13
14
15
16
17
18
19

In [37]:
a=5
b=6
print("Addition of a and b = {0}".format(a+b))
print("Subtraction of a and b = {0}".format(a-b))
print("Multiplication of a and b = {0}".format(a*b))
print("Division of a and b = {0}".format(a/b))
print("Floor Division of a and b = {0}".format(a//b))

Addition of a and b = 11
Subtraction of a and b = -1
Multiplication of a and b = 30
Division of a and b = 0.8333333333333334
Floor Division of a and b = 0

In [23]:
g=10
f=6
print("sum of g and f = {0}".format(g+f))
print("sub of g & f = {0}".format(g-f))
print("multiply of g and f ={0}".format(g*f))
print("dividation of g and f ={0}".format(g/f))
print("floar division of g and f ={0}".format(g//f))

sum of g and f = 16
sub of g & f = 4
multiply of g and f =60
dividation of g and f =1.6666666666666667
floar division of g and f =1

In [5]:
## If and Else

a=5

In [6]:
print(a)

5

In [7]:
a==6

False

In [8]:
a==5

True

In [9]:
5%2

1

In [16]:
5!=5

False

In [ ]:
LHS==RHS

In [ ]:
LHS not equal to RHS
LHS!=RHS

In [14]:
if a%2==0:
    print("{0} is an even number".format(a))
else:
    print("{0} is an odd number".format(a))

6 is an even number

In [17]:
5==5

True

In [18]:
5==6

False

In [19]:
6 != 5

True

In [20]:
5%2 != 0

True

In [ ]:
if a%2==0:
    print("{0} is an even number".format(a))
else:
    print("{0} is an odd number".format(a))

In [25]:
#565656565656 find it is odd or even number using if else farmula
a=565656565656
if n%2==0:
    print("{0} given number is even".format(a))
else
    print("{0} given number is odd".format(a))

565656565656 given number is even

In [29]:
## Get sum of all the odd numbers from 1 to 100
summation = 0
for num in range(1,101):
    if num%2!=0:
     summation = summation+num

In [22]:
summation

2500

In [9]:
##get the sum of all the even numbers from 1 to 100
addition = 0
for num in range (1,101):
    if num%2==0:
     addition = addition+num

In [12]:
addition

2450

In [24]:
summation = 0 
for num in [1,2,3,4,5]:
    summation = summation+num

In [25]:
summation

15

In [26]:
list_1 = [1,2,3,4,5]
sum(list_1)

15

In [28]:
g1=[1,5,6,6,3,1]
sum(g1)

22

In [28]:
new_product=1
for i in range(5):
    new_product = new_product+i

In [29]:
0%3==0

True

In [31]:
a=3

In [32]:
a==3 or a==5

True

In [35]:
for num in range(1,101):
    if (num%15!=0) and (num%3==0 or num%5==0):
        print(num)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78
80
81
84
85
87
93
95
96
99
100

In [ ]:
not (num%3==0 and num%5==0)= num%3!=0 or num%5!=0

In [31]:
# Python program to print duplicates from
# a list of integers
list_2=[1,2,3,4,5,6,7,8,1,2,3,4,6,7,8]
 
uniqueList = []
duplicateList = []
 
for i in list_2:
    if i not in uniqueList:
        uniqueList.append(i)
    elif i not in duplicateList:
        duplicateList.append(i)
 
print(duplicateList)

[1, 2, 3, 4, 6, 7, 8]

In [45]:
xor_result=0
for num in [1,2,3,4,5,6,7,8,1,2,3,4,6,7,8]:
    xor_result=xor_result^num

In [46]:
xor_result

5

In [ ]:
for num iin range(1,10)
if num%num=1

In [47]:
a=0.1
b=0.2
c=0.3
a+b==c
print(c)

0.3