# PRACTICE ON STRING

In [5]:
a ="name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,"
z = ("lucifer is the dewil of his word" ,"       GO GREEN" ,"   TIGER IS WILD ANIMAL")

In [6]:
b=" + ".join(z)
b

'lucifer is the dewil of his word +        GO GREEN +    TIGER IS WILD ANIMAL'

In [7]:
a.partition(",")
#a.partition("can")

('name the animals that can be omenivarus',
 ',',
 ' total counts for animal will be 82 reptile,34 mamal,')

In [8]:
d=a.replace("that","new")
print(d)

name the animals new can be omenivarus, total counts for animal will be 82 reptile,34 mamal,

In [9]:
a.title()

'Name The Animals That Can Be Omenivarus, Total Counts For Animal Will Be 82 Reptile,34 Mamal,'

In [10]:
a.partition("can")

('name the animals that ',
 'can',
 ' be omenivarus, total counts for animal will be 82 reptile,34 mamal,')

In [11]:
a

'name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,'

In [12]:
b=a.lstrip()
print(b)

name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,

In [13]:
a.capitalize()

'Name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,'

In [14]:
a.lower()

'name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,'

In [15]:
a.upper()

'NAME THE ANIMALS THAT CAN BE OMENIVARUS, TOTAL COUNTS FOR ANIMAL WILL BE 82 REPTILE,34 MAMAL,'

In [16]:
a.islower()

True

In [17]:
a.isspace()

False

In [18]:
a.title()

'Name The Animals That Can Be Omenivarus, Total Counts For Animal Will Be 82 Reptile,34 Mamal,'

In [19]:
a.startswith("n")

True

In [20]:
a.endswith(",")

True

In [21]:
a.capitalize()

'Name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,'

In [22]:
a.find("n",22,30)

24

In [23]:
a.index("n",22,30)

24

In [24]:
b=a.split(" ")
b

['name',
 'the',
 'animals',
 'that',
 'can',
 'be',
 'omenivarus,',
 'total',
 'counts',
 'for',
 'animal',
 'will',
 'be',
 '82',
 'reptile,34',
 'mamal,']

In [25]:
c="+".join(b)
c

'name+the+animals+that+can+be+omenivarus,+total+counts+for+animal+will+be+82+reptile,34+mamal,'

In [26]:
len(a)
a

'name the animals that can be omenivarus, total counts for animal will be 82 reptile,34 mamal,'

In [27]:
.count(b,0,40)

SyntaxError: invalid syntax (80071840.py, line 1)

# next is joint w3
partation w3
well study w3

In [28]:
print(“Hello {0} and {1}”.format((‘tom’, ‘jerry’)))

SyntaxError: invalid character '“' (U+201C) (4027256973.py, line 1)

In [29]:
print(“abcdef”.center(10, ‘12’))

SyntaxError: invalid character '“' (U+201C) (439655808.py, line 1)

In [ ]:
y=eval(input())