In [1]:
class BankAccount:
    def __init__(self, name, balance):
        self.name = name
        self._balance = balance

    def deposit(self, amount):
        self._balance += amount

    def withdraw(self, amount):
        if self._balance - amount >= 0:
            self._balance -= amount
        else:
            print("Insufficient funds")

class CheckingAccount(BankAccount):
    def __init__(self, name, balance, overdraft_limit):
        super().__init__(name, balance)
        self.overdraft_limit = overdraft_limit

    def withdraw(self, amount):
        if self._balance - amount >= -self.overdraft_limit:
            self._balance -= amount
        else:
            print("Overdraft limit reached")

account = BankAccount("John Doe", 1000)
checking_account = CheckingAccount("Jane Doe", 500, -500)

account.withdraw(100)
print(account._balance) # Output: 900

checking_account.withdraw(600)
print(checking_account._balance) # Output: -100

checking_account.withdraw(400)
print(checking_account._balance) # Output: -500

900
Overdraft limit reached
500
Overdraft limit reached
500

In [1]:
class ApplicationEdiyodaDS17:
    def __init__(self,student_id,age,mail_id):
        self.id=student_id
        self.student_age=age
        self.mail = mail_id
        
    def displayApplicationEdiyodaDS17(self):
        print("id= {} \nage= {} \nmail = {} ".format(self.id,self.student_age,self.mail))

In [2]:
saurav=ApplicationEdiyodaDS17("gg98823",23,"gaurav@gmail",)

In [3]:
saurav.displayApplicationEdiyodaDS17()

id= gg98823
age= 23
mail = gaurav@gmail

In [5]:
saurav.mail

'gaurav@gmail'

In [36]:
#shubham
class edyoda_Ds_17:
    def __init__(student,given_id,given_age,mail_id,phone_number,given_previous_education,given_city,given_state,given_country,past_experiance):
        student.id=given_id
        student.age=given_age
        student.mail_id=mail_id
        student.phone_number=phone_number
        student.previous_education=given_previous_education
        student.city=given_city
        student.state=given_state
        student.country=given_country
        student.past_experiance=past_experiance
        
    def student_Displaylist(student):
        print("id={} \nage={}\nmail_id={}\nphone_number={}\nprevious_education={}\ncity={}\nstate={}\ncountry={}\npost_experiance={}".format(student.id,student.age,student.mail_id,student.phone_number,student.previous_education,student.city,student.state,student.country,student.past_experiance))

In [42]:
class TuTor(edyoda_Ds_17):
    def __init__(student,given_id,given_age,mail_id,phone_number,given_previous_education,given_city,given_state,given_country,past_experiance):
        edyoda_Ds_17.__init__(student,given_id,given_age,mail_id,phone_number,given_previous_education,given_city,given_state,given_country,past_experiance)
    def student_Displaylist(student):
        edyoda_Ds_17(student)

In [45]:
rahul=TuTor("15",23,"gmailjn@mail_id",98028,"cs","Rj","RJ","india","Tutor")

NameError: name 'student' is not defined

In [44]:
rahul.student_Displaylist()

TypeError: __init__() missing 8 required positional arguments: 'given_age', 'mail_id', 'phone_number', 'given_previous_education', 'given_city', 'given_state', 'given_country', and 'past_experiance'

In [35]:
gaurav=edyoda_Ds_17("df2234",23,"gmail@mail_id",9881029028,"BSC agri","Amravati","Maharashtra","india","R&exe")

In [17]:
gaurav.student_Displaylist()

id=df2234
age=23
mail_id=gmail@mail_id
phone_number=9881029028
previous_education=BSC agri
city=Amravati
state=Maharashtra
country=india
past_experiance=R&exe

In [ ]:
Lets say that we are creating an application which stores students of edyoda DS_17 batch.
Create a class with the following instance variables and methods:

instance variables:
student_id
age
mail_id
phone_number
previous_education
city
state
country
past_experience

Methods:

display_student_details()

In [ ]:
class edyoda_Ds_17:
    def __init__(student,given_id,given_age,mail_id,phone_number,given_previous_education,given_city,given_state,given_country,past_experiance):
        student.id=given_id
        student.age=given_age
        student.mail_id=mail_id
        student.phone_number=phone_number
        student.previous_education=previous_education
        student.city=given_city
        student.state=given_state
        student.country=given_country
        student.past_experiance=past_experian
    def

In [97]:
class EdyodaInstitute:
    student_no= 1
    def __init__(student,student_name,institute_name):
        student.student_id=EdyodaInstitute.student_no
        student.student_name=student_name
        student.institute_name=institute_name
        
        EdyodaInstitute.student_no+=1
    
    def Display_student_details(student):
        print("student_id {}\n student_name-{}\n institute_name = {}".format(student.student_id,student.student_name,student.institute_name))
            def display_emp_details(self):
        Employee.display_emp_details(self)
        print("SUBORDINATES",self.num_of_subordinates)

In [98]:
gaurav=EdyodaInstitute("gaurav","edyoda")

In [99]:
gaurav.Display_student_details()

student_id 1
 student_name-gaurav
 institute_name = edyoda

In [100]:
savrav=EdyodaInstitute("savrav","udemy")

In [101]:
savrav.Display_student_details()

student_id 2
 student_name-savrav
 institute_name = udemy

In [102]:
ravi=EdyodaInstitute("ravi","nafari")

In [103]:
ravi.Display_student_details()

student_id 3
 student_name-ravi
 institute_name = nafari

In [130]:
class Employee:
    emp_count = 0
    def __init__(self,emp_id,name,salary,department,designation,contact,gender):
        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department
        self.designation =  designation
        self.contact = contact
        self.gender = gender


        Employee.emp_count+=1
    
    def display_emp_details(self):
        print("EMP_ID:{}\nNAME:{}\nSALARY:{}\nDEPARTMENT:{}\nDESIGNATION:{}\nCONTACT:{}\nGENDER:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender))

In [131]:
class Manager(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_subordinates):
        Employee.__init__(self,emp_id,name,salary,department,"Manager",contact,gender)
        self.num_of_subordinates = num_of_subordinates
        
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("SUBORDINATES",self.num_of_subordinates)

In [132]:
bharat = Manager(1,"Bharat","20LPA","Product","34525235","M",10)

In [133]:
bharat.display_emp_details()

EMP_ID:1
NAME:Bharat
SALARY:20LPA
DEPARTMENT:Product
DESIGNATION:Manager
CONTACT:34525235
GENDER:M
SUBORDINATES 10

In [134]:
shubham = Employee(1,"Shubham","12LPA","Product","SDE1","2348458234","M")

In [135]:
shubham.display_emp_details()

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [136]:
namratha = Employee(2,"Namrata","12LPA","Product","SDE1","214152535345","F")

In [137]:
namratha.display_emp_details()

EMP_ID:2
NAME:Namrata
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:214152535345
GENDER:F

In [150]:
class CityRecord():
    colony_no = 0
    def __init__(record,colony_name,population_of_colony):
        record.colony_name = colony_name
        record.population_of_colony = population_of_colony
        
        CityRecord.colony_no += 1
        
        
        
    def DiplayCityRecord(record):
        print("Colany Name = {} \nColony_Population = {} \nColony no = {}".format(record.colony_name,record.population_of_colony,CityRecord.colony_no))

In [151]:
class village(CityRecord):
    def __init__(record,colony_name,population_of_colony,village_name):
        CityRecord.__init__(record,colony_name,population_of_colony)
        record.village_name = village_name
        
        
    def DiplayCityRecord(record):
        print("Colany Name = {} \nColony_Population = {} \nColony no = {} \nVillage Name = {}".format(record.colony_name,record.population_of_colony,CityRecord.colony_no,record.village_name))

In [152]:
Shivar=village("patilpura",1000,"Shivar")

In [153]:
DeprecationWarning(Shivar)

DeprecationWarning(<__main__.village at 0x1755dfebd90>)

In [154]:
Shivar.DiplayCityRecord()

Colany Name = patilpura
Colony_Population = 1000
Colony no = 1
Village Name = Shivar

In [155]:
daryapur=CityRecord("Gandhi Nagar",7000)

In [156]:
daryapur.DiplayCityRecord()

Colany Name = Gandhi Nagar
Colony_Population = 7000
Colony no = 2

In [157]:
dhamodi=village("Ram Nagar",5000,"DHAMODI")

In [158]:
dhamodi.DiplayCityRecord()

Colany Name = Ram Nagar
Colony_Population = 5000
Colony no = 3
Village Name = DHAMODI

In [159]:
dhamodi.DiplayCityRecord()

Colany Name = Ram Nagar
Colony_Population = 5000
Colony no = 3
Village Name = DHAMODI

In [ ]:
class A:
    def _init__(self,A):
        self.A = A
    def Dp(self):
        print("i am ",self.A)

class B:
    def _init__(self,B):
        self.B=B
    def Dp(self):
        print("i am ",self.B)   

class C:
    def _init__(self,C):
        self.C=C
    def Dp(self):
        print("i am ",self.C)  

class D(A,B,C):
    def _init__(self,CBA):
        self.CBA=CBA
    def Dp(self):
        print("i am ",self.CBA)

In [ ]:
We want to create Point Class which takes in two values:
x_coordinate
y_coordinte

* => dot product

point_1 = Point(2,3)
point_2 = Point(4,6)

point_1*point_2 = (x1i +y1j).(x2i + y2j)

In [8]:
class Point:
    
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def __repr__(self):
        return "({},{})".format(self.x,self.y)
    
    def __mul__(self,other):
        return self.x*other.x +self.y*other.y

In [9]:
point_1 = Point(2,3)
point_2 = Point(3,4)

In [12]:
point_1

(2,3)

In [10]:
point_1*point_2

18

In [4]:
class Spoint:
    def __init__(self,point_1,point_2):
        self.point_1 = point_1
        self.point_2 = point_2
        
    def __repr__(self):
        return "point  ={} {}".format(self.point_1,self.point_2)
    
    def __mul__(self,other):
        return self.point_1*other.point_1+self.point_2*other.point_2

In [5]:
x=Spoint(2,3)
y=Spoint(3,4)

In [6]:
x*y

18